.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
}

.link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #555;
}

.isActive {
    background-color: #777;
}